<div class="logo"></div>
<ul nz-menu
    [nzTheme]="'dark'"
    [nzMode]="'inline'"
    [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu>
    <span title>
      <i nz-icon
         nzType="user"
         nzTheme="outline"></i>
      <span class="nav-text">User</span></span>
    <ul>
      <li nz-menu-item>Tom</li>
      <li nz-menu-item>Bill</li>
      <li nz-menu-item>Alex</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i nz-icon
         nzType="team"
         nzTheme="outline"></i><span class="nav-text">Team</span></span>
    <ul>
      <li nz-menu-item>Team 1</li>
      <li nz-menu-item>Team 2</li>
    </ul>
  </li>
  <li nz-menu-item>
    <span><i nz-icon
         nzType="file"
         nzTheme="outline"></i><span class="nav-text">File</span></span>
  </li>
</ul>
