.ant-list-item {
    padding-top: 2px;
    padding-bottom: 12px;
    flex-direction: column;
    align-items: baseline
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-card-bordered {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .ant-input {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }

  .ant-input:focus {
    border-color: rgb(217, 217, 217);
    box-shadow: none;
  }
  .ant-input:hover {
    border-color: rgb(217, 217, 217);
  }

  .ant-card-bordered {
    border: 1px solid rgb(217, 217, 217);
  }
