{{ content }}
<a href="#"
   *ngIf="!isContentToggled"
   (click)="toggleContent()"
   i18n><em>Read More</em></a>
<a href="#"
   *ngIf="isContentToggled"
   (click)="toggleContent()"
   i18n><em>Read Less</em></a>
 
