<div nz-row
     nzJustify="space-around"
     nzAlign="middle">
  <nz-input-group nzSearch>
    <div nz-row
         class="mic-row"
         nzJustify="space-between">
      <div nz-col
           nzSpan="20">
        <input class="input"
               nz-input
               [(ngModel)]="message.text"
               (keyup.enter)="sendMessage()"
               placeholder="Type your message..."
               type="text"
               autofocus />
      </div>
      <div nz-col
           nzSpan="4">
        <button *ngIf="!micActive"
                class="button-container"
                nz-button
                nzType="secondary"
                [nzSize]="'large'"
                nzShape="circle"
                (click)="micOnClick()">
          <img src="./assets/icons/mic.png"
               class="mic" />
        </button>
        <button *ngIf="micActive"
                class="button-container"
                nz-button
                nzType="secondary"
                [nzSize]="'large'"
                nzShape="circle"
                (click)="stopStream()">
          <img src="./assets/icons/mic_off.png"
               class="mic" />
        </button>
      </div>
    </div>
  </nz-input-group>
  <div *ngIf="micActive"
       nz-col
       nzSpan="20">
    <nz-progress [nzPercent]="100"
                 [nzShowInfo]="false"
                 [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
                 nzStatus="active"></nz-progress>
  </div>
</div>
