.card {
  margin-bottom: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  .card-body {
    padding: 10px 10px 10px 10px;
  }
  .card-url-container {
    padding: 0 5px 0 5px;
    font-size: 10px;
  }
}
.message {
  padding: 6px 12px;
  border-radius: 1.3em;
  background-color: #f1f0f0;
  max-width: 50%;
  word-wrap: break-word;
}

.tooltip-button {
  margin-top: 5%;
}

.bot {
  color: rgba(0, 0, 0, 1);
  margin-left: 35px;
  border-bottom-left-radius: 4px;
}

.user {
  color: #fff;
  background-color: #0084ff;
  align-self: flex-end;
  margin-right: 35px;
  border-bottom-right-radius: 4px;
}

div#wave {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    background: #303131;
    animation: wave 1.3s linear infinite;

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -0.9s;
    }
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }

  30% {
    transform: translateY(-10px);
  }
}

.payload {
  margin-left: 10%;
}
