<nz-list-item>
  <span class="message bot"
        *ngIf="message.text === '...'; else display">
    <div id="wave">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </span>

  <img *ngIf="message.sentBy === 'user'"
       height="30px"
       src="assets/avatars/user-avatar.png"
       style="align-self: flex-end" />
  <ng-template #display>
    <span class="message"
          [ngClass]="message.sentBy === 'user' ? 'user' : 'bot'"
          [nzTitle]="message.sentBy === 'watson' ? tooltip : ''"
          nzPlacement="topLeft"
          nz-tooltip>{{ displayMessage() }}
      <a *ngIf="messageUrl"
         href="{{ messageUrl }}"
         target="_blank">
        ⚡ {{ messageUrl }} ⚡</a>
    </span>
  </ng-template>

  <img *ngIf="
      message.sentBy === 'watson' ||
      message.sentBy === 'discovery' ||
      message.sentBy === 'option'
    "
       height="30px"
       src="assets/avatars/watson-logo-avatar.png" />

  <div *ngIf="message.sentBy === 'discovery' && message.text != '...'"
       class="payload">
    <!-- <i>{{ message?.title }}</i> -->

    <div class="card"
         *ngFor="let result of message?.results; index as i">
      <nz-card style="width: 400px"
               [nzBordered]="true"
               nzTitle="Watson Discovery COVID-19 Result">
        <div class="card-body">
          <app-read-more [content]="result.body"
                         [limit]="300"
                         [completeWords]="true"></app-read-more>
        </div>
        <div class="card-url-container">
          <a href="{{ result.url }}"
             target="_blank">{{ result.url }}</a>
        </div>
      </nz-card>
    </div>

    <br />
  </div>

  <div *ngIf="message.sentBy === 'option' && message.text != '...'"
       class="options">
    <i>{{ message.description }}</i>
    <ul>
      <li *ngFor="let option of message.options">
        <a (click)="onLabelClicked(option.value.input.text)">{{
          option.label
          }}</a>
      </li>
    </ul>
  </div>

  <ng-template #tooltip>
    This message is not what you expected ? <br />
    <button class="tooltip-button"
            nz-button
            nzType="default"
            (click)="sendFeedback()">
      Tell Us
    </button>
  </ng-template>
</nz-list-item>
