<div nz-row
     nzJustify="start"
     nzAlign="middle"
     nzGutter="20">
  <i class="logo"
     nz-col
     *ngIf="!isCollapsed"
     nz-icon
     nzType="menu-fold"
     nzTheme="outline"
     (click)="collapse()"></i>
  <i class="logo"
     nz-col
     *ngIf="isCollapsed"
     nz-icon
     nzType="menu-unfold"
     nzTheme="outline"
     (click)="collapse()"></i>
  <h1 class="header-text"
      nz-col>Watson Assistant Demo</h1>
</div>
