<div nz-row
     class="container">
   <nz-card *ngIf="displayChat"
            [@slideInOut]
            class="card"
            nz-col
            nzXs="24"
            nzSm="18"
            nzMd="14"
            nzLg="12"
            nzXl="8">
      <app-assistant-header></app-assistant-header>
      <app-message-list [messages]="messages"
                        (labelClicked)="onLabelClicked($event)"></app-message-list>
      <app-message-form [(firstDisplayed)]="firstDisplayed"
                        [messages]="messages"
                        [message]="message"
                        [labelClicked]="labelClicked.asObservable()"></app-message-form>
   </nz-card>
   <div class="button"
        (click)="onClick()">
      <i class="cloud-icon"
         nz-icon
         nzType="cloud"
         nzTheme="outline"></i>
   </div>
</div>
