.card {
  position: absolute;
  justify-content: space-between;
  bottom: 70px;
  right: 40px;
  min-width: 25%;
  box-shadow: 3px 2px 5px rgba(0,0,0,0.12)
}

.button {
  position: absolute;
  bottom: 10px;
  right: 35px;
  background-color: #1890ff;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 6px 18px rgba(0,0,0,0.25), 0 6px 12px rgba(0,0,0,0.22);
}

.button:active {
  box-shadow: 0 3px 9px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
}

.container {
  display: flex;
}

.cloud-icon {
  font-size: 26px;
  color: white;

}
